# IDEs
.vscode
.DS_Store
*.trace
*.code-workspace

# Vim swap files
*.swp

#Buidler files
cache
artifacts
typechain
node_modules

# Remove Cargo.lock from gitignore if creating an libbraries, leave it for executable
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock